.navbar a{
  text-decoration: none;
}
.navbar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffee;
    padding: 10px 50px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1000;
} 


  .logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-family: disapamok;
    font-size: 2.8rem;
    font-weight: 400;
  }

    .navbar-logo-text{
      color: black;
    }

.menu-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .menu-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

    .menu-container ul li{
      margin: 0 10px;
    }

      .menu-container ul li a{
        color: black;
        font-size: 1.2rem;
        font-weight: 400;
      }

      .menu-container ul li a:hover{
        color: #f1c40f;
  }

.personal-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}

.cart-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.cart-btn .cart-icon {
  width: 24px;
  height: 24px;
  color: #464555;
}
    .navbar-logo-text{
      color: black;
    }

/* Badge for Cart */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4d4f;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 50%;
}
.auth-box button:nth-child(1){
  background-color: #0B8AD9;
  color: #ffffff;
  border: none;
  padding: 9px 26px;
  border-radius: 13px;
  cursor: pointer;
}
.menu-icon{
  display: none;
}
@media screen and (max-width: 768px){
  .navbar{
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.747)fff;
  }

  .logo-container{
    font-size: 2.3rem;
  }

  .menu-container ul li a{
    font-size: 1rem;
  }

  .personal-container{
    column-gap: 5px;
  }

  .cart-btn .cart-icon {
    width: 20px;
    height: 20px;
  }

  .menu-container{
    display: none;
  }
  .auth-box{
    display: none;
  }
  .menu-icon{
    display: block;
    padding-left: 2px;
  }
}

